# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Git\sevenhome_hotel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
